@model Core2TP.DATA.EF.Models.OrderProduct

@{
    ViewData["Title"] = "Delete";
}

<h1>Remove @Model.Product.ProductName from order #@Model.OrderId?</h1>

<h3 class="text-danger">This action cannot be undone.</h3>
<div>
    <h4>OrderProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.ShipCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderProductId" />
        <input type="submit" value="Delete Forever" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
